ion-title {
  color: #ffffff;
  font-family: Montserrat-SemiBold;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}

ion-searchbar {
  --icon-color: #333333;
  --box-shadow: 0 9px 46px 8px rgba(51, 51, 51, 0.05),
    0 11px 15px -7px rgba(51, 51, 51, 0.1);
  border-radius: 10px;

  ::ng-deep {
    .searchbar-input-container {
      .searchbar-input {
        border-radius: 10px;
        padding: 15px 5px 15px 45px;
        margin-top: 0.15rem;
        caret-color: #c90949;
      }
    }

    .searchbar-clear-icon {
      margin-top: 0rem;
    }

    .searchbar-search-icon.sc-ion-searchbar-md {
      top: 22px;
    }
  }
}

ion-content ion-segment ion-label {
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: 13px;
  font-family: Montserrat-SemiBold;
}

ion-segment {
  max-width: 70% !important;
}

.segment-button-checked {
  ion-label {
    color: #333333 !important;
    font-weight: 600 !important;
  }
}

ion-segment-button {
  --indicator-height: 1px !important;
  --padding-top: 0px;
  --padding-bottom: 7px;
  --padding-start: 0px;
  --padding-end: 0px;
  --color: #333333;
  font-weight: 600;
  --color-checked: #c90949;
}

ion-item {
  margin-left: 15px;
  margin-bottom: 15px;
  margin-top: 10px;
}

ion-item > ion-button {
  height: 32px;
  width: 72px;
  --border-radius: 41.5px;
  --border-color: #ebebeb;
  --border-width: 1px;
  --color: #707070;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0;
  --background: #ffffff;
  line-height: 13px;
  font-family: Montserrat-SemiBold;
  --box-shadow: none;
}

ion-avatar {
  margin-top: 0px;
  width: 64px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  height: 64px;
  padding: 7px;
}

h3 {
  color: #333333;
  font-family: Montserrat-Regular;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15px;
  font-weight: 600;
}

p {
  color: #b9b8b9;
  font-family: Montserrat-Regular;
  font-size: 10px;
  letter-spacing: 0;
  margin-top: 0px;
}

.style-grid {
  // background: #ffffff;
  border-top: 1px solid #ebebeb;
  margin-top: -1px;
}

.style-grid-search {
  background-color: #f9f9f9;
}

.style-grid-search ion-row ion-col > ion-button {
  color: #ffffff;
  border-radius: 5px;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: #c90949;
  margin-left: -5px;
  margin-top: 1rem;
}

.style-errorHandle {
  h6,
  p,
  strong {
    text-align: center;
    font-family: Montserrat-Regular;
  }

  h6,
  p {
    font-size: 0.9rem;
    margin-top: 0rem;
    margin-bottom: 0.3rem;
  }

  p {
    color: #333333;
  }

  strong {
    color: #c90949;
    font-weight: 100;
  }
}

ion-back-button {
  display: block;
}
