<ion-header class="ion-no-border">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateBackToPage()" icon="chevron-back-outline" mode="md" routerDirection="back"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Buscar equipos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="style-grid-search">
    <ion-row>
      <ion-col size="10">
        <ion-searchbar #searchbar autocomplete="on" autocorrect="on" type="search" mode="md"
          [formControl]="searchFormControl" animated placeholder="Búscar equipos" [debounce]="250"
          (ionClear)="ionClear()"></ion-searchbar>

      </ion-col>
      <ion-col size="2" class="ion-no-padding">
        <ion-button fill="clear" (click)="presentModalFilter()">
          <ion-icon slot="icon-only" name="options-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="style-grid">
    <ion-row>

      <ion-col size="12">
        <div class="ion-text-center ion-margin-top" *ngIf="searching">
          <ion-spinner name="circles"></ion-spinner>
        </div>
      </ion-col>

      <ion-col size="12">
        <ng-container *ngIf="listTeams$ | async as listTeams; else loadingOrErrorScroll">
          <ng-container *ngIf="listTeams.length; else emptyScroll">
            <ion-item lines="none" class="ion-no-padding" *ngFor="let listTeam of listTeams">
              <ion-avatar slot="start">
                <ion-img [src]="listTeam.ImagenEquipo"></ion-img>
              </ion-avatar>
              <ion-label>
                <h3>{{listTeam.NombreEquipo}}</h3>
                <p>{{ listTeam.NumeroMiembros }} {{
                  listTeam.NumeroMiembros > 1 ? " MIEMBROS" : " MIEMBRO"
                  }}</p>
              </ion-label>
              <ion-button slot="end" expand="block" fill="outline" (click)="presentModalDetailTeam(listTeam.IdEquipo)">
                VER
              </ion-button>
            </ion-item>
          </ng-container>
          <ion-infinite-scroll *ngIf="listTeams.length > 0" class="ion-margin-top ion-padding-top" threshold="150px"
            (ionInfinite)="getTeamsScroll($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
          <div class="style-errorHandle ion-margin-top" *ngIf="errorHandleScroll$ | async">
            <h6>Error al cargar la <strong>lista de equipos.</strong></h6>
            <h6>Por favor,<strong> inténtelo de nuevo</strong> más tarde.</h6>
          </div>
        </ng-container>
        <ng-template #emptyScroll>
          <ion-col size="12" class="style-errorHandle ion-text-center" *ngIf="statusHandleSearch">
            <p>No se han encontrado resultados</p>
          </ion-col>
        </ng-template>
        <div class="style-errorHandle ion-margin-top" *ngIf="errorHandleSearch$ | async">
          <h6>Error al<strong> cargar resultados.</strong></h6>
          <h6>Por favor,<strong> inténtelo de nuevo</strong> más tarde.</h6>
        </div>
        <ng-template #loadingOrErrorScroll>
          <div class="style-errorHandle ion-margin-top" *ngIf="errorHandle$ | async; else loadingScroll">
            <h6>Error al cargar la <strong>lista de equipos.</strong></h6>
            <h6>Por favor,<strong> inténtelo de nuevo</strong> más tarde.</h6>
          </div>
          <ng-template #loadingScroll>
            <ion-item lines="none" class="ion-no-padding" mode="md" *ngFor="let i of [1,1,1,1,1,1]">
              <ion-avatar slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-avatar>
              <ion-label class="ion-text-capitalize">
                <p>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </p>
                <h3>
                  <ion-skeleton-text animated></ion-skeleton-text>
                </h3>
              </ion-label>
              <ion-button slot="end" expand="block" fill="outline" class="style-col-button-outline">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-button>
            </ion-item>
          </ng-template>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>